$page-bg-color: #0702c1;  // Override the default background color

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

@include font-face('8-BIT WONDER', inline-font-files('../../../fonts/8-Bit Wonder/8-BIT WONDER.TTF', truetype));
@include font-face('PressStart2P', inline-font-files('../../../fonts/PressStart2P/PressStart2P.ttf', truetype));

.x-button, .x-button-action, .x-toolbar .x-button.x-button-action, .x-button.x-button-action {
  background: #FFE641;
  border-top: 6px solid #ffffc2;
  border-left:  6px solid #ffffc2;
  border-bottom: 6px solid #71480a;
  border-right: 6px solid #71480a;
  border-radius: 0;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  font-family: '8-BIT WONDER';
  margin: auto;
  padding-top: 4px;
}

.x-button.x-item-disabled {
  background: #787878;
  border-top: 6px solid #b9b9b9;
  border-left:  6px solid #b9b9b9;
  border-bottom: 6px solid #333333;
  border-right: 6px solid #333333;
}

.x-button.x-button-pressing {
  background: #FFE641;
  border-top: 6px solid #71480a;
  border-left:  6px solid #71480a;
  border-bottom: 6px solid #ffffc2;
  border-right: 6px solid #ffffc2;
}

.x-button.x-button-pressing .x-button-label {
  position: relative;
  top: 2px;
  left: 2px;
}

.x-msgbox {
  border: 0.15em solid #FFE641;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
//  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000;
  font-family: '8-BIT WONDER';
}

.x-msgbox-text {
  font-size: 16px;
}

h1 {
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  text-shadow: 2px 2px 0px #000;
  font-family: 'PressStart2P';
  text-transform: uppercase;
}

h2 {
  padding-top: 20px;
  color: #fff;
  font-size: 15px;
  text-shadow: 2px 2px 0px #000;
  font-family: 'PressStart2P';
  text-transform: uppercase;
}

h3 {
  color: #f33032;
  font-size: 14px;
  // Simulate a text outline:
  text-shadow:
   -1px -1px 0 #FFE641,
    1px -1px 0 #FFE641,
    -1px 1px 0 #FFE641,
     1px 1px 0 #FFE641;
  font-family: 'PressStart2P';
  text-transform: uppercase;
}

.score {
  text-align: center;
}

.card-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-transform: scale(0.6);  // Shrink the cards for smaller screens
  -moz-transform: scale(0.6);
}

.card-container,
.card-front, .card-back {
  width: 124px;
  height: 180px;
}

.card-flipper {
  -webkit-transition: 0.6s;  // Flip speed
  -moz-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative;
}

.card-rotate {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.card-front, .card-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: -10px;  // This overcomes the slight offset introduced by the hbox layout
}

.card-front, .card-back {
  background-image: url(/resources/images/cards.png);
}

.card-front {
  -webkit-transform: rotateY(180deg); // Initially hidden
  -moz-transform: rotateY(180deg); // Initially hidden
}

.card-back {
  background-position: -1px -725px;
  z-index: 2;
}

.player-card {
//  -webkit-transform: scale(0.8);
}

// Card face classes generated by the generate_card_css.py script
.card-face-2H {background-position: -0px -0px}
.card-face-3H {background-position: -125px -0px}
.card-face-4H {background-position: -250px -0px}
.card-face-5H {background-position: -375px -0px}
.card-face-6H {background-position: -500px -0px}
.card-face-7H {background-position: -625px -0px}
.card-face-8H {background-position: -750px -0px}
.card-face-9H {background-position: -875px -0px}
.card-face-10H {background-position: -1000px -0px}
.card-face-JH {background-position: -1125px -0px}
.card-face-QH {background-position: -1250px -0px}
.card-face-KH {background-position: -1375px -0px}
.card-face-AH {background-position: -1500px -0px}
.card-face-2D {background-position: -0px -181px}
.card-face-3D {background-position: -125px -181px}
.card-face-4D {background-position: -250px -181px}
.card-face-5D {background-position: -375px -181px}
.card-face-6D {background-position: -500px -181px}
.card-face-7D {background-position: -625px -181px}
.card-face-8D {background-position: -750px -181px}
.card-face-9D {background-position: -875px -181px}
.card-face-10D {background-position: -1000px -181px}
.card-face-JD {background-position: -1125px -181px}
.card-face-QD {background-position: -1250px -181px}
.card-face-KD {background-position: -1375px -181px}
.card-face-AD {background-position: -1500px -181px}
.card-face-2C {background-position: -0px -362px}
.card-face-3C {background-position: -125px -362px}
.card-face-4C {background-position: -250px -362px}
.card-face-5C {background-position: -375px -362px}
.card-face-6C {background-position: -500px -362px}
.card-face-7C {background-position: -625px -362px}
.card-face-8C {background-position: -750px -362px}
.card-face-9C {background-position: -875px -362px}
.card-face-10C {background-position: -1000px -362px}
.card-face-JC {background-position: -1125px -362px}
.card-face-QC {background-position: -1250px -362px}
.card-face-KC {background-position: -1375px -362px}
.card-face-AC {background-position: -1500px -362px}
.card-face-2S {background-position: -0px -543px}
.card-face-3S {background-position: -125px -543px}
.card-face-4S {background-position: -250px -543px}
.card-face-5S {background-position: -375px -543px}
.card-face-6S {background-position: -500px -543px}
.card-face-7S {background-position: -625px -543px}
.card-face-8S {background-position: -750px -543px}
.card-face-9S {background-position: -875px -543px}
.card-face-10S {background-position: -1000px -543px}
.card-face-JS {background-position: -1125px -543px}
.card-face-QS {background-position: -1250px -543px}
.card-face-KS {background-position: -1375px -543px}
.card-face-AS {background-position: -1500px -543px}