$page-bg-color: #0702c1;  // Override the default background color

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

@include font-face('8-BIT WONDER', inline-font-files('../../../fonts/8-Bit Wonder/8-BIT WONDER.TTF', truetype));
@include font-face('PressStart2P', inline-font-files('../../../fonts/PressStart2P/PressStart2P.ttf', truetype));

.x-button {
  background: #FFE641;
  border-top: 6px solid #ffffc2;
  border-left:  6px solid #ffffc2;
  border-bottom: 6px solid #71480a;
  border-right: 6px solid #71480a;
  border-radius: 0;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  font-family: '8-BIT WONDER';
  margin: auto;
  padding-top: 4px;
}

.x-button.x-button-pressing {
  background: #FFE641;
  border-top: 6px solid #71480a;
  border-left:  6px solid #71480a;
  border-bottom: 6px solid #ffffc2;
  border-right: 6px solid #ffffc2;
}

.x-button.x-button-pressing .x-button-label {
  position: relative;
  top: 2px;
  left: 2px;
}

h1 {
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  text-shadow: 2px 2px 0px #000;
  font-family: 'PressStart2P';
  text-transform: uppercase;
}

h2 {
  padding-top: 20px;
  color: #fff;
  font-size: 15px;
  text-shadow: 2px 2px 0px #000;
  font-family: 'PressStart2P';
  text-transform: uppercase;
  text-align: center;
}

h3 {
  color: #f33032;
  font-size: 14px;
  // Simulate a text outline:
  text-shadow:
   -1px -1px 0 #FFE641,
    1px -1px 0 #FFE641,
    -1px 1px 0 #FFE641,
     1px 1px 0 #FFE641;
  font-family: 'PressStart2P';
  text-transform: uppercase;
}

.score {
  text-align: center;
}

.card-container {
  border: 2px solid red;
  -webkit-perspective: 1000;
}

// TEMP
.card-container:hover .card-flipper, .card-container.hover .card-flipper {
  -webkit-transform: rotateY(180deg);
}

.card-container, .card-front, .card-back {
  width: 124px;
  height: 180px;
}

.card-flipper {
  -webkit-transition: 0.6s; // Flip speed
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.card-front, .card-back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card-front {
  background: orange;
  -webkit-transform: rotateY(180deg); // Initially hidden
}

.card-back {
  background: yellow;
  z-index: 2;
}